/* Layout geral baseado no app files */
.app-content {
	display: flex;
	width: 100vw;
	height: calc(100vh - 50px); /* ajuste conforme altura da barra do topo */
	overflow: hidden;
}

.sidebar {
	width: 280px;
	background-color: #e0e0e0;
	padding: 1em;
	box-sizing: border-box;
	flex-shrink: 0;
}

.app-content-list {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	background-color: white;
	padding: 1em;
	box-sizing: border-box;
	overflow-y: auto;
	min-width: 0; /* ESSENCIAL para forçar expansão completa */
}


.app-navigation {
	width: 250px;
	background-color: var(--color-background-darker);
	border-right: 1px solid var(--color-border);
	padding: 10px;
	overflow-y: auto;
}

.app-navigation-entry {
	list-style: none;
	margin-bottom: 10px;
}

.search {
	width: 100%;
	padding: 8px;
	border-radius: 6px;
	border: 1px solid var(--color-border);
	background-color: var(--color-background-light);
	color: var(--color-text);
	font-size: 14px;
}




.files-list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 0;
	margin: 0;
	list-style: none;
}

.files-list .file {
	width: 140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	word-break: break-word;
}

.thumbnail {
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 6px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
	background-color: #fff;
	margin-bottom: 6px;
}

.nametext {
	font-size: 13px;
	color: var(--color-text);
}


